In [3]:
logs = "08080696 | server_xyz | fiserv | 2300 | Amazon | UPI"
# single lined string

In [4]:
print(logs)

08080696 | server_xyz | fiserv | 2300 | Amazon | UPI

In [6]:
logs = """
08080696 | server_xyz | fiserv | 2300 | Amazon | UPI
08080656 | server_xyzwer | ensenta | 14000 | Amazon | CC
"""

In [8]:
logs = '''
08080696 | server_xyz | fiserv | 2300 | Amazon | UPI
08080656 | server_xyzwer | ensenta | 14000 | Amazon | CC
'''

In [10]:
logs = "
08080696 | server_xyz | fiserv | 2300 | Amazon | UPI
08080656 | server_xyzwer | ensenta | 14000 | Amazon | CC
"

SyntaxError: unterminated string literal (detected at line 1) (<ipython-input-10-783eb23f0787>, line 1)

In [9]:
print(logs)

08080696 | server_xyz | fiserv | 2300 | Amazon | UPI
08080656 | server_xyzwer | ensenta | 14000 | Amazon | CC

In [ ]:
'''
*
**
***
****
*****
******
'''

In [ ]:

# 2 loops => c, c++ followed
# take no of lines from user
number = int(input("Enter the pattern range : "))
for i in range(1,number+1):
  for j in range(1,i+1):
    print("*",end="")
  print()

In [26]:
## 1 loop => python based (improved)
number = int(input("Enter the pattern range : "))
for i in range(1,number + 1):
  print("*" * i)

Enter the pattern range : 10
*
**
***
****
*****
******
*******
********
*********
**********

In [ ]:
'''
*******
******
*****
****
***
**
*
'''

In [29]:

# 2 loops => c, c++ followed
# take no of lines from user
number = int(input("Enter the pattern range : "))
for i in range(number,0,-1):
  for j in range(i,0,-1):
    print("*",end="")
  print()

Enter the pattern range : 7
*******
******
*****
****
***
**
*

In [33]:
## 1 loop => python based (improved)
number = int(input("Enter the pattern range : "))
for i in range(number,0,-1):
  print("*" * i)

Enter the pattern range : 9
*********
********
*******
******
*****
****
***
**
*

In [ ]:
'''
*
***
*****
*******
*********
'''

In [40]:
# 2 loops => c, c++ followed
# take no of lines from user
number = int(input("Enter the pattern range : "))
for i in range(1, number + 1):
  for j in range(1, (2 * i)):
    print("*",end="")
  print()

Enter the pattern range : 7
*
***
*****
*******
*********
***********
*************

In [ ]:
'''
   *
  ***
 *****
*******
'''

In [ ]:
'''
*******
 *****
  ***
   *
'''

In [ ]:
'''
      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *
* * * * * * *

'''

In [ ]:
'''
* * * * * * *
 * * * * * *
  * * * * *
   * * * *
    * * *
     * *
      *

'''

In [ ]:
'''

* * * * *
*       *
*       *
*       *
* * * * *
'''

In [2]:
'''
1
212
32123
4321234
'''